h2 {
  font-family: inherit;
  text-decoration: underline;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 1.88;
 
}


button {

  padding: 10px 32px;
  margin: 10px;
  border-radius: 4px;
  min-width: 200px;

  border: 1px solid transparent;

  color: black ;
  background-color: cyan ;
  font-family: inherit;
  text-decoration: none;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;

}

.timer-button{
background-color: rgb(147, 151, 151) 
}


